version: 2.1

################################################################################
#                                                                              #
# YAML Aliases for our Circle-CI configuration.                                #
#                                                                              #
################################################################################

# Define the cache key to save and restore our dependencies.
python_deps_cache_key: &python_deps_cache_key
  key: python-deps-{{ checksum "pyproject.toml" }}

# Short-cut to define a tags-only filter.
tags_only: &tags_only
  filters:
    branches:
      ignore: /.*/
    tags:
      only: /^v\d+\.\d+.*/

# Short-cut to define a PR-branches only filter.
PR_branches_only: &PR_branches_only
  filters:
    branches:
      ignore:
        - master
    tags:
      ignore:
        - /^\d+\.\d+.*/

################################################################################
#                                                                              #
# Custom Executor definitions.                                                 #
#                                                                              #
################################################################################

executors:
  default-executor:
    working_directory: /home/circleci/ci/scenario-player
    docker:
      - image: circleci/python:3.7.3
    environment:
      PROJECT_ROOT: /home/circleci/ci/scenario-player
      CI_CONFIG_DIR: /home/circleci/ci/scenario-player/.circleci
      CI_SCRIPTS_DIR: /home/circleci/ci/scenario-player/.circleci/scripts
      BUMPVERSION_CFG: /home/circleci/ci/scenario-player/.bumpversion.cfg
      PYPROJECT_TOML: /home/circleci/ci/scenario-player/pyproject.toml


################################################################################
#                                                                              #
# Custom Command definitions.                                                  #
#                                                                              #
################################################################################

commands:
  # ================= #
  # CI Setup Commands #
  # ================= #

  setup-job:
    description: |
      Attach the workspace and load ENV variables.
      Additionally skips the job this is used in, if the commit message is invalid
      (unless the workflow executing the job is running on "master" or "dev").
    steps:
      - attach_workspace:
          at: "/home/circleci"
      - export_env_vars

  export_env_vars:
    description: Export ENV variables used by our script.
    steps:
      - run:
          name: Add Environment variables to bash env.
          command: |
            echo 'export PATH=/home/circleci/ci/venv/bin:$PATH' >> ${BASH_ENV}

  install_tools_for_ci:
    description: Install packages needed to run our scripts. These may not be included in SP's dependencies.
    steps:
      - run:
          name: Install additional packages for CI tools
          command: |
            pip install bump2version
            pip install flit
            pip install tomlkit

  prep_venv:
    description: Restore cache and virtualenv, and install dependencies.
    steps:
      - restore_cache:
          key: pip-cache

      - run:
          name: Create virtualenv
          command: |
            python -m venv /home/circleci/ci/venv
            echo 'export PATH=/home/circleci/ci/venv/bin:$PATH' >> ${BASH_ENV}

      - restore_cache:
          <<: *python_deps_cache_key

      - restore_cache:
          key: smoketest-cache

      - install_tools_for_ci

      - run:
          name: Install the project.
          command: |
            make install-dev
            make install-raiden-develop

  # ================================== #
  # Linter and test execution commands #
  # ================================== #
  lint_codebase:
    description: Run linters against our code base.
    steps:
      - run:
          name: Set PATH to venv.
          command: |
            echo 'export PATH=/home/circleci/ci/venv/bin:$PATH' >> ${BASH_ENV}
      - run:
          name: Run Linters
          command: |
            make lint

  run_test_harness:
    description: Run unit and integration tests of our package.
    steps:
      - run:
          name: Run test harness.
          command: make test

  run_smoketests:
    description: Execute Smoketests to verify build.
    steps:
      - run:
          name: Reclaim ether spent on previous smoketests
          command: |
           scenario_player reclaim-eth \
           --data-path=${PROJECT_ROOT} \
           --chain goerli:https://${SMOKETEST_NODE} \
           --keystore-file=${CI_CONFIG_DIR}/smoketest.keystore \
           --password=${SMOKETEST_PW} \
           --min-age=1 \
      - run:
          name: Run smoketests
          command: |
            scenario_player \
            run ${PROJECT_ROOT}/tests/smoketests/smoketests.yml \
            --data-path=${PROJECT_ROOT} \
            --chain goerli:https://${SMOKETEST_NODE} \
            --keystore-file=${CI_CONFIG_DIR}/smoketest.keystore \
            --password=${SMOKETEST_PW} \
            --no-ui

  # ===================== #
  # CI Tear-down commands #
  # ===================== #

  store_env:
    description: Store our dependencies in the cache.
    steps:
      - save_cache:
          <<: *python_deps_cache_key
          paths:
            - "/home/circleci/ci/venv"

      - save_cache:
          key: pip-cache
          paths:
            - "/home/circleci/.cache/pip"

      - save_cache:
          key: smoketest-cache
          paths:
            - "/tmp/smoketests"

################################################################################
#                                                                              #
# Circle-CI Job definitions.                                                   #
#                                                                              #
################################################################################

jobs:
  prep-system:
    executor: default-executor
    steps:
      - checkout
      - prep_venv
      - export_env_vars
      - persist_to_workspace:
          paths:
            - ci
          root: "/home/circleci"

  lint-and-test:
    executor: default-executor
    steps:
      - setup-job
      - lint_codebase
      - run_test_harness
      - run_smoketests
      - store_env

  # Publish a wheel and tarball of the Scenario Player to pypi.
  deploy-to-pypi:
    executor: default-executor
    steps:
      - checkout
      - export_env_vars
      - run:
          name: Publish to pypi using flit.
          command: |
            export FLIT_USERNAME=${PYPI_USER}
            export FLIT_PASSWORD=${PYPI_PASSWORD}
            flit publish

  finalize:
    executor: default-executor
    steps:
      - run: echo "done".

################################################################################
#                                                                              #
# Circle-CI Workflow definitions.                                              #
#                                                                              #
################################################################################

workflows:
  version: 2

  PR-Review-Workflow:
    jobs:
      - prep-system:
          <<: *PR_branches_only

      - lint-and-test:
          context: Raiden-SP-Context
          requires:
            - prep-system

  Deploy-Release-Workflow:
    jobs:
      - prep-system:
          <<: *tags_only

      # Package a new release from the latest tag.
      - deploy-to-pypi:
          context: "Raiden Context"
          requires:
            - prep-system
